*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #f3eae3;
    width: 100%;
    height: 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* =======================================HERO STYLING====================== */
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 50%;
    border-radius: 35px;
    
}

.hero-text{
    padding-top: 5%;
    height: 40rem;
    width:  50%;
    background-color: #ffffff;   
    width: 30rem;
    border-top-right-radius:35px;
    border-bottom-right-radius: 35px;
    margin-left: 3%;
}

.hero-text h4{
    /* border: 1px solid black; */
    margin-bottom: 5%;
    text-align: left;
    color: #9fa0a8;
    letter-spacing: 10px;
}

.hero-text h2{
    /* border: 1px solid black; */
    text-align: left;
    font-size: 45px;
    word-wrap: normal;
    width: 60%;
    margin-bottom: 5%;
    font-family: 'Fraunces', serif;
}

.hero-text p{
   
    text-align: left;
    word-wrap:normal;
    font-size:19px;
    width: 66%;
    letter-spacing: --px;
    line-height: 30px;
    margin-bottom: 5%;
    color: #9fa0a8;
}



.hero-container>img{
    width: 50%;
    height: 40rem;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    /* border: 4px solid black; */
}

/* ============================PRICING STYLES======================== */
.hero-prices{
    display: flex;
    align-items: center;
    gap: 15px;
    /* border: 1px solid cadetblue; */
}

.hero-prices h1{
    color: #428069;
    font-size: 60px;
    font-family: 'Fraunces', serif;
    margin-bottom: 3%;
}

.hero-prices h3{
    color: #b4b4be;
    text-decoration:line-through;
}

/* =============================BUTTON STYLES================================== */
button{ 
    margin-top: 3%;
    background-color:#3c8067;
    display: flex;
    justify-content: center;
    width: 24rem;
    height: 4rem;
    gap: 10px;
    color: white;
    border: none;
    cursor: pointer;
    align-items: center;
    border-radius: 10px;
    font-size: medium;
}

button:active{
    background-color: #103023;
}

footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d3d3d3 ;
    color: cadetblue;
    text-align: center;
    padding: 10px;
 }


 footer a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(36, 68, 68);
 }
 

 footer a:hover{
    color:rgb(0, 170, 0);
 }
 
/* ===================MOBILE SCREEN STYLING */

@media (max-width: 768px) {

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 100rem;
   
}

.hero-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0;
    width: 20rem;
    font-size: medium;
    margin-bottom: 5rem; ;
}

.product-description{
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
   
}

 .hero-container>img{

width: 320px;
height: 320px;

border-radius:0;
border-top-right-radius:35px ;
border-top-left-radius:35px ;
} 
.hero-text h4{
    margin-right:25% ;
}
.hero-text h2{
    font-size: 27px;
    /* border: 1px solid ; */
    width: 15rem;
}

.hero-text p{
    margin-right: 15%;
    font-size: medium;
}


.hero-prices{
    margin-right: 20%;
    display: flex;
    align-items: center;
    gap: 15px;
    /* border: 1px solid cadetblue; */
}

.hero-prices h1{
    color: #428069;
    font-size: x-large;
    font-family: 'Fraunces', serif;
    margin-bottom: 3%;
}

.hero-prices h3{
    color: #b4b4be;
    font-size: small;
    text-decoration:line-through;
}

button{
    width: 14rem;
    height: 2rem;
    font-size: small;
}


footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #d3d3d3 ;
    color: cadetblue;
    text-align: center;
    padding: 10px;
 }


 footer a{
    text-decoration: none;
    font-weight: 700;
    color: rgb(36, 68, 68);
 }
 

 footer a:hover{
    color:rgb(0, 170, 0);
 }

}