*{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(216, 12%, 8%);
}

.component-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 25px;
    padding: 0 4%;
    height: 400px;
    gap: 20px;
    /* background: linear-gradient(to bottom, #303f53 0%, #313d4e 50%, #1c232d 100%); */
    background-color: hsl(213, 19%, 18%)
    /* background: hsl(213, 19%, 18%); */

}

.circle-container{
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.circle{
   
    border-radius: 200px;
    width: 50px;
    height:50px;
    background-color:hsl(215, 25%, 20%)  ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6f7782;
}

.circle-container>button:hover{
    background-color: #7c8898;
    color: #eaf0f6;

}
p{
    width: 300px;
}
button{
background: none;
border: none;
}
.submit{
    width: 90%;
    height: 35px;
    background-color: #fc7613;
    border-radius: 15px;
    color: #fff;
}
.submit:hover{
    background-color: #ffffff;
    color: #dc864b;
}

h1{
    color: #f6f9fa;
}

p{
    color: hsl(217, 12%, 63%);
    font-size: 15px;
}


/* Thank you styling */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.enborder{
    color:  #fc7613;
    background-color: hsl(216, 12%, 14%);
    border-radius: 20px;
    width: 200px;
    text-align: center;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center>p{
    text-align: center;
}


.hidden{
    display: none;
}

.reveal{
    display: flex;
}